* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
}

h1 {
  color: #c02d2d;
  font-size: 4rem;
}

h1 span,
ul span {
  text-decoration: underline;
}

h1:hover {
  color: #1c2bf6;
}

p {
  background-color: #61e1dc;
}

#about-me {
  color: #65e161;
}

.foo {
  color: #f6a61c;
}

.bar {
  background-color: #c31cf6;
}

h1 {
  color: blue;
}

body > span {
  display: block;
}

#one {
  padding: 1rem;
  margin: 2rem;
  border: 3px solid red;
}

#one,
#two,
#three {
  width: 200px;
  margin: 0 auto;
}

#images {
    position: relative;
}

#images img:nth-child(2) {
    position: absolute;
    border: 2px solid red;
    top: 75px;
    left: 300px;
    z-index: 1;
}

#images img:nth-child(3) {
    position: absolute;
    border: 2px solid green;
    top: 100px;
    left: 200px;
}
